/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

section{
    width:100%;
    height:100%;
}

.login-screen.loading .overlay{
    opacity: 1;
}
.login-screen  .overlay{
    opacity: 0;
    background: url(../img/loading-screen/loading.gif) no-repeat 50% 50% #0d9ebf;
    -webkit-transition: opacity 6s;
}

.login-screen.loading .snow{
    opacity:0;

}
.login-screen .snow {
    width:100%;
    height:100%;
    opacity:1;
    background: url(../img/loading-screen/snow.gif) #fefefe;
   -webkit-transition: opacity 8s;
}
.login-screen {
    background: #fefefe;
}






.intro-screen {
    background: green;
}

.grotto-screen {
    background: blue;
}

.grotto-inside-screen {
    background: red;
}

.calendar-screen {
    background: #ffffff;
}
.calendar-screen .content{
    width:800px;
    margin-top:-304px;
    margin-left:-400px;
    background: url(../img/calendar/advent_calendar.png) no-repeat top left;
    height:607px;
}

.calendar-screen .content li {
    display:block;
    width:80px;
    height:80px;
}
.calendar-screen .content li a{
    display: block;
}
.calendar-screen .content ul{
    position: relative;
    top: 98px;
    left: 29px;
    float:left;
}



/* overides */
.oh {
    overflow: hidden;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.ml {
    margin-left: 1em;
}
.mr{
    margin-right:1em;
}
.mb{
    margin-bottom:1em;
}
.mt{
    margin-top: 1em;
}
.abc{
    position: absolute;
    left: 50%;
    top:50%;
}
.ab{
    position: absolute;
    left:0;
    top:0;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
.top-index {
    z-index:9999;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}